* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
  --background-header: #f4f4f4;
  --color-btn: #f09035;
  --color-line: #e8a634;
  --background-yellow: rgba(253, 215, 14, 0.2);
  --color-text-web-header: #ed3237;
  --color-title-text-body: #4e4e4e;
  --color-text-orange: #e49700;
  --color-money: #dc6e05;
  --color-white: #ffffff;
  --color-eclipse: #febc10;
  --color-placeholder: #656363;
  --color-select-placeholder: #d80000;
  --color-title-sale-popover: #bc2e31;
  --color-btn-disable: #AEB6C1;
}

body{
  width: 100vw;
  height: 100vh;
}
