.btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5.5rem;
    height: 2rem;
    border: 1.3px solid var(--color-btn);
    border-radius: .4rem;
}

.btn__link{
    border: none;
    background: none;
}

.btn__link--remove{
    display: flex;
    align-items: center;
    background: none;
    border: none;

}

