.container__chekBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .5rem;
    height: 3rem;
    width: 100%;
}



.container--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    font-size: .88rem;
    color: var( --color-title-text-body);
}






