

  .header {
    display: flex;
    height: 3.5rem;
    width: 100%;
    background: var(--background-header);
  }


  .header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 5%;
    height: 100%;
  }

  .header__selected{
    border: none;
    width: 20%;
    height: 3rem;
  }

  .header__search{
    border: 1px solid var(--color-text-web-header);
    width: 22rem;
    height: 3rem;
    border-radius: .25rem;
  }

  .header__login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
  }

  .header--user{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .header--text{
    margin-left: .5rem;
  }


