.container__chekBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 100%;
  margin-top: 0.5rem;
}

.container--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.88rem;
  color: var(--color-title-text-body);
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.custom--radio {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--color-eclipse);
}

input[type="radio"]:checked + .custom--radio {
  background: var(--color-eclipse);
}
